/* Custom Stylesheet */

.documentation section {
  padding: 24px;
}
.documentation h1 {
  text-align: left;
}

.documentation .nav {
  padding: 0 24px;
}

.documentation .nav a {
  text-decoration: none;
  font-weight: 400;
}

.documentation .hljs-tag {
  font-size: 1.3em;
}
