body { padding: 0; margin:0; font-family: "Roboto",sans-serif;}

#app {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
#app.vertical {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

/* row-start column-start row-end column-end */

#header {
    grid-area: 1 / 1 / 2 / 3;
    z-index: 2;
}
#essay {
    grid-area: 1 / 1 / 3 / 2;
    padding: 12px;
    overflow-y: scroll;
    z-index: 1;
    padding-top: 420px;
    background-color: #f8f8f8;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#essay > section:last-of-type {
    padding-bottom: 80vh; /* Enables srolling all content through active paragraph region at top*/
}
#viewer {
    grid-area: 2 / 2 / 3 / 2;
    position: relative;
}

.vertical div.segment {
  padding: 8px 24px 8px 16px;
  line-height: 1.6;
}

.vertical div.segment.active {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
  position: relative;
  cursor: default;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  padding: 7px 23px 7px 15px;
}

/* small screen layout */
@media only screen and (max-width: 1000px) {
  #app, #app.vertical {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  #header {
    grid-area: 1 / 1 / 2 / 2;
  }
  #essay {
    grid-area: 1 / 1 / 3 / 2;
    padding: 420px 9px 9px 9px;
  }
  div.segment.active {
    background-color: #ffffff;
    box-shadow: unset;
    border: unset;
    border-radius: 0;
    padding: 8px 24px 8px 16px;
  }
  #viewer {
    grid-area: 3 / 1 / 4 / 2;
  }
  #essay > section:last-of-type {
    padding-bottom: 50vh !important; /* Enables srolling all content through active paragraph region at top*/
  }
}

p {
    padding-right: 18px;
}

div.segment p {
  padding: 0;
  margin: 0;
}

#tabs-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    gap: 3px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

#tabs-bar span {
    margin: 0;
    padding: 3px;
    background-color: white;
    line-height: 1em;
  }

  #tabs-bar span svg {
    margin: 0;
    background-color: white !important;
    color: #444A1E !important;
  }

  #tabs-bar span.active-tab svg {
    margin: 0;
    background-color: #444A1E !important;
    color: white !important;
  }

  #tabs-bar span.active-tab:hover {
    margin: 0;
    background-color: #1f220a !important;
    color: white !important;
  }
  #tabs-bar span.active-tab:hover svg {
    margin: 0;
    background-color: #1f220a !important;
    color: white !important;
  }

  #tabs-bar span:hover, span.active-tab {
    color: white !important;
    background-color: #444A1E !important;
  }
  #tabs-bar span:hover svg {
    color: white !important;
    background-color: #444A1E !important;
  }

  .active span.entity {
    background-color: lightseagreen;
    cursor: pointer;
  }

  .tippy-box {
    max-width: unset !important;
  }

  .popup {
    display: grid;
    grid-template-columns: minmax(auto, 200px) auto;
    grid-auto-rows: auto;
    grid-column-gap: 12px;
    grid-template-areas: 
      "p-label       p-image"
      "p-description p-image";
    font-size: 1em;
    padding: 6px;
  }

  .popup .label {
    grid-area: p-label;
    font-size: 1.4em;
    font-weight: 500;
    color: #333;
    padding-bottom: 12px;
  }

  .popup .description {
    grid-area: p-description;
    padding-top: .3em;
    line-height: 1.2em;
  }

  .popup .summary {
    grid-area: p-summary;
  }

  .popup .image {
    grid-area: p-image;
    max-width: 200px;
  }

  section.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-auto-rows: 1fr;
    grid-gap: 1.8rem;
  }

  section.cards > section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "image"
        "title"
        "metadata"
        "abstract"
        "heading";
    border-radius: 4px;
    padding: .5rem;
  }

  section.cards > section a {
    grid-area: title;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
}

section.cards > section a:hover {
  text-decoration: underline;
}

section.cards > section img {
    grid-area: image;
    justify-self: stretch;
    object-fit: cover;
    /* max-height: 250px; */
    width: 100%;
    height: 250px;
}
/*
section.cards > section div {
grid-area: image;
max-height: 250px;
overflow: hidden;
}
section.cards > section div img {
    border: 0;
    max-width: 100%;
    vertical-align: top;
}
*/

section.cards > section ul {
    grid-area: metadata;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section.cards section div {
    grid-area: abstract;
    height: 100px;
    overflow-y: scroll;
    padding: 9px 0 0 0;
    line-height: 1.2;
}

section.cards p {
    background-color: unset;
}

section.cards a {
  cursor: pointer;
  color: #0164b9;
}

.tippy-content pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#FFF}
.hljs,.hljs-subst{color:#333}
.hljs-comment{color:#888888}
.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}
.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}
.hljs-title,.hljs-section{color:#880000;font-weight:bold}
.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}
.hljs-literal{color:#78A960}
.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}
.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:bold}
.hljs-attr{color:blue}
.hljs-name{color:green}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.segment pre {
  margin-left: 18px;
  padding: 0 12px;
  border-left: 4px solid #ccc;
  overflow-wrap: break-word ;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
}

p code {
  background-color: #eee;
  padding: 3px;
}

.segment.active pre {
  background-color: lemonchiffon;
  font-weight: bold;
}

.active .essay-interaction, .active .essay-interaction {
  background-color: yellowgreen;
}