html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: white;
  color: #444;
}

#essay-component, #essay > section:last-of-type  {
  padding-bottom: 80vh; /* Enables srolling all content through active paragraph region at top*/
}

.visual-essay {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.visual-essay #header {
  display: unset;
  grid-area: 1 / 1 / 2 / 3;
  z-index: 2;
}

.visual-essay #essay {
  grid-area: 1 / 1 / 3 / 2;
  z-index: 1;
  overflow-y: scroll;
  background-color: #f8f8f8;
  font-size: 1.3rem;
  padding: 420px 24px 24px 24px;
  /*scroll-behavior: smooth;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.3;
}

.visual-essay #viewer {
  grid-area: 2 / 2 / 3 / 2;
  position: relative;
}

.visual-essay #footer {
  grid-area: 3 / 1 / 4 / 3;
}

#essay a {
  cursor: pointer;
  color: #0164b9;
}

#app.vertical {
  grid-template-columns: 1fr 50%;
  grid-template-rows: auto 1fr;
}

.vertical div.segment {
    padding: 8px 24px 8px 16px;
    line-height: 1.6;
}

.vertical p {
  padding: 8px 24px 8px 16px;
  line-height: 1.6;
}

.vertical div.segment.active {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
  position: relative;
  cursor: default;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  padding: 7px 23px 7px 15px;
}

/* small screen layout */
@media only screen and (max-width: 1000px) {
  #app, #app.vertical {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .visual-essay #header {
    grid-area: 1 / 1 / 2 / 2;
  }
  .visual-essay #essay {
    grid-area: 1 / 1 / 3 / 2;
    padding: 420px 9px 9px 9px;
  }
  div.segment.active {
    background-color: #ffffff;
    box-shadow: unset;
    border: unset;
    border-radius: 0;
    padding: 8px 24px 8px 16px;
  }
  .visual-essay #viewer {
    grid-area: 3 / 1 / 4 / 2;
  }
  .visual-essay #essay > section:last-of-type {
    padding-bottom: 50vh !important; /* Enables srolling all content through active paragraph region at top*/
  }
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: 'Playfair Display', Serif;
  font-weight: normal;
  line-height: 1;
}

.modal-form {
    display: none;
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 55vh;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 12px;
}

.visible-form {
  padding: 8px 16px 16px;
  height: auto;
}

#create-site-form, #update-site-form, #add-page-form {
  left: 33vw;
  width: 34vw;
  height: 260px;
}

.modal-form form {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 8px;
}
.modal-form form h1 {
  align-self: center;
  justify-self: center;
  padding: 6px;
  margin: 0;
  font-size: 1.5rem;
}
.form-name, .form-email {
  height: 30px;
  padding: 3px 12px;
  font-size: 1rem;
}
.form-message {
  padding: 12px;
  font-family: "Roboto",sans-serif;
  font-size: 1.1rem;
}
.form-controls {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 6px;
}
.form-controls button {
  margin: 0 6px;
  font-size: 1rem;
  padding: 3px 6px;
}

p {
    padding-right: 18px;
}

div.segment p {
  padding: 0;
  margin: 12px 0 0 0;
}

#tabs-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    gap: 3px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

#tabs-bar span {
    margin: 0;
    padding: 3px;
    background-color: white;
    line-height: 1em;
  }

  #tabs-bar span svg {
    margin: 0;
    background-color: white !important;
    color: #444A1E !important;
  }

  #tabs-bar span.active-tab svg {
    margin: 0;
    background-color: #444A1E !important;
    color: white !important;
  }

  #tabs-bar span.active-tab:hover {
    margin: 0;
    background-color: #1f220a !important;
    color: white !important;
  }
  #tabs-bar span.active-tab:hover svg {
    margin: 0;
    background-color: #1f220a !important;
    color: white !important;
  }

  #tabs-bar span:hover, span.active-tab {
    color: white !important;
    background-color: #444A1E !important;
  }
  #tabs-bar span:hover svg {
    color: white !important;
    background-color: #444A1E !important;
  }

  .active span.entity {
    border-bottom: 2px solid #444A1E;
    cursor: pointer;
  }

  .active span.entity:hover {
    background: #e1ecbe !important;
    transition: all 0.2s ease-in;
  }

  .tippy-box {
    max-width: unset !important;
  }

  a.nav {
    font-weight: bold;
    color: #0164b9 !important;
  }
  a.nav i {
    margin-right: 6px;
  }

  .popup {
    font-size: 1em;
    padding: 6px;
    max-width: 500px;
    min-height: 250px;
  }

  .popup p {
    padding: 0;
  }

  .popup .label {
    font-size: 1.6em;
    font-weight: bold;
    color: #333;
    padding-bottom: 12px;
  }

  .popup .description {
    padding-top: .3em;
    line-height: 1.2em;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
  }

  .popup .summary {
    text-align: justify;
    font-size: 1.1em;
  }

  .popup .image {
    max-width: 200px;
    /* max-height: 200px; */
    float: right;
    padding-left: 12px;
  }

  /*
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-auto-rows: 1fr;
    grid-gap: 1.8rem;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr 0px;
    grid-template-areas:
        "image"
        "title"
        "metadata"
        "abstract"
        "heading";
    border-radius: 4px;
    padding: .5rem;
  }

  .card > a, .card > strong {
    grid-area: title;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card img {
    grid-area: image;
    justify-self: stretch;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.card ul {
    grid-area: metadata;
    list-style-type: none;
    padding: 12px 0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
}
*/

.abstract-text {
  grid-area: abstract;
  line-height: 1.4;
  font-size: 0.9em;
  /*font-style: italic;*/
  /* height: 200px;*/
  /* margin: 0 16px 16px 0; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
}

.tippy-content pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#FFF}
.hljs,.hljs-subst{color:#333}
.hljs-comment{color:#888888}
.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}
.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}
.hljs-title,.hljs-section{color:#880000;font-weight:bold}
.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}
.hljs-literal{color:#78A960}
.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}
.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:bold}
.hljs-attr{color:blue}
.hljs-name{color:green}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.segment pre {
  margin-left: 18px;
  padding: 0 12px;
  border-left: 4px solid #ccc;
  overflow-wrap: break-word ;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
}

p code {
  background-color: #eee;
  padding: 3px;
}

.segment.active pre {
  background-color: lemonchiffon;
  font-weight: bold;
}

.active .essay-interaction {
  background-color: #e1ecbe;
}
.active .essay-interaction:hover {
  border-bottom: 2px solid #444A1E;
}

.notification {
  border: 2px solid red;
  padding: 12px !important;
  background-color: #ffeeec;
  font-weight: bold;
}

.collapsible {
  border-radius: 4px;
  margin-top: 0.4em;
  padding: 0.2em 0.4em;
  border: 1px solid #605C2A;
  background-color: #605C2A;
  opacity: 0.8;
  color: #fff;
  font-size: 0.8em;
  /* height: 40px;
  width: 120px; */
  cursor: pointer;
}

span.seg-link {
  position: absolute;
  top: -4px;
  left: 4px;
  color: #ddd;
}

span.seg-link svg {
  color: #ddd;
  font-size: 1rem;
}

span.seg-link svg:hover {
  color: #aaa;
  cursor: copy;
}


#essay p img {
  max-width: 33%;
}

.left { 
  float: left !important;
  margin: 8px 18px 0 0 !important;
}

.right {
  float: right !important;
  margin: 8px 0 0 18px !important;
}

.border {
  border: 1px solid #aaa;
}